[Desktop Entry]
Type=Application
Name=Munipack
Comment=A general astronomical image processing software
Icon=munipack_icon
Exec=xmunipack %f
Terminal=false
MimeType=image/fits
Categories=Science;Astronomy;
Keywords=image;photometry;astrometry
